apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: django
  template:
    metadata:
      labels:
        app: django
    spec:
      containers:
      - name: django-container
        image: crud-django:v1
        imagePullPolicy: Never  # ¡Importante para usar imagen local!
        ports:
        - containerPort: 8000

---
apiVersion: v1
kind: Service
metadata:
  name: django-service
spec:
  type: NodePort  # Expone el servicio fuera del clúster
  selector:
    app: django
  ports:
    - protocol: TCP
      port: 8000       # Puerto interno del servicio
      targetPort: 8000 # Puerto del contenedor
      nodePort: 30007  # Puerto fijo externo para acceder fácil
